<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-gameservice-account" version="0.0.1">
<name>iOS &amp; Android Games Services</name>

<!-- android -->
<platform name="android">
	<!-- cordova CLI using gradle and it working well -->
	<framework src="com.google.android.gms:play-services-games:+" />
	<framework src="com.google.android.gms:play-services-plus:+" />

	<preference name="APP_ID" />

	<config-file target="res/xml/config.xml" parent="/*">
		<feature name="GooglePlayGame">
			<param name="android-package" value="com.lycwed.GooglePlayGame" />
		</feature>
	</config-file>

	<config-file target="res/values/strings.xml" parent="/resources">
		<string name="app_id">$APP_ID</string>
	</config-file>

	<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
	</config-file>

	<config-file target="AndroidManifest.xml" parent="/manifest">
		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	</config-file>

	<js-module src="www/AndroidGamesServices.js" name="GooglePlayGame">
		<merges target="GameServiceAccount" />
	</js-module>

	<source-file src="src/android/GooglePlayGame.java" target-dir="src/com/lycwed" />
	<source-file src="src/android/BaseGameUtils.java" target-dir="src/com/lycwed" />
	<source-file src="src/android/BaseGameActivity.java" target-dir="src/com/lycwed" />
	<source-file src="src/android/GameHelper.java" target-dir="src/com/lycwed" />
	<source-file src="src/android/GameHelperUtils.java" target-dir="src/com/lycwed" />
</platform>

<!-- ios -->
<platform name="ios">
	<config-file target="config.xml" parent="/*">
		<feature name="GameCenter">
			<param name="ios-package" value="GameCenter" />
		</feature>
	</config-file>

	<header-file src="src/ios/GameCenter.h" />
	<source-file src="src/ios/GameCenter.m" />

	<framework src="GameKit.framework" />

	<js-module src="www/iOSGamesServices.js" name="GameCenter">
		<merges target="GameServiceAccount" />
	</js-module>
</platform>
</plugin>
